.loginTitle{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 30%;
    margin: auto;
}

.loginLabel{
    font-size: 1.2em;
    font-weight: bold;
}

.loginInput{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #FAF9F6;
}

.loginButton{
    padding: 10px;
    padding: 10px;
    border-radius: 30px;
    border:#202020 2px solid;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #FAF9F6;
    color: #302e44;
}

@keyframes buttonChange {
    from{
        background-color: #FAF9F6;
        color: #302e44;
    }
    to{
        background-color: #302e44;
        color: #FAF9F6;
    }
}

@keyframes buttonReverse {
    from{
        background-color: #302e44;
        color: #FAF9F6;
    }
    to{
        background-color: #FAF9F6;
        color: #302e44;
    }
}

.loginButton:hover{
    cursor: pointer;
    color: #FAF9F6;
    background-color: #302e44;
    animation-name: buttonChange;
    animation-duration: 0.5s;
}

.loginButton:not(:hover){
    animation-name: buttonReverse;
    animation-duration: 0.5s;
}

.preload {
    animation-duration: 0s !important;
}